# topmost editorconfig
root: true

##########
## General formatting
## documentation: https://editorconfig.org
##########
[*]
charset = utf-8
insert_final_newline = true
indent_style = tab
indent_size = 3
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false # two trailing whitespaces indicate a like break

[*.yml]
indent_style = space # GitHub doesn't allow tab indentation
indent_size = 2
